body {
    height: 100vh;
    background-color: #EFEFEF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#number-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 12rem);
    grid-auto-rows: 10rem;
}

#number-wrapper div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    color: white;
    font-family: serif;
    font-weight: 700;
}

header {
    background-color: white;
    border-bottom: 0.25rem solid #bfbfbf;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.63rem 0;
    letter-spacing: 0.06rem;
    text-align: center;
}

footer {
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    padding: 1rem 0;
}

.cust-button {
    padding: 1rem 5rem;
    font-size: 1rem;
    text-transform: uppercase;
    border-radius: 0.63rem;
    background-color: #72C3DC;
    color: white;
    border: none;
    cursor: pointer;
    width: 14.7rem;
    box-shadow: 0 0.32rem #2b8ead;
}

.main-content {
    display: flex;
}

.m-y {
    margin: 2rem 0;
}

.btn-handler-body {
    padding: 0 4rem;
    display: flex;
    flex-direction: column;
}

.color-1 {
    background-color: #6F98A8;
}

.color-2 {
    background-color: #2B8EAD;
}

.color-3 {
    background-color: #2F454E;
}

.color-4 {
    background-color: #2B8EAD;
}

.color-5 {
    background-color: #2F454E;
}

.color-6 {
    background-color: #BFBFBF;
}

.color-7 {
    background-color: #BFBFBF;
}

.color-8 {
    background-color: #6F98A8;
}

.color-9 {
    background-color: #2F454E;
}

@media only screen and (max-width: 768px) {
    body {
        background-color: #ffffff;
    }

    header {
        background-color: #333333;
        color: white;
        text-align: center;
        padding: 1rem 0;
    }

    #number-wrapper {
        display: grid;
        grid-auto-rows: 2rem;
        width: 100%;
        grid-template-columns: auto;
    }

    #number-wrapper div {
        font-size: 1rem;
        background-color: #EFEFEF;
        color: #000000;
        margin-bottom: 0.25rem;
    }

    .main-content {
        flex-direction: column;
        flex-flow: column-reverse;
        padding: 0 1rem;
    }

    .color-1 {
        border-left: 0.32rem solid #6F98A8;
    }

    .color-2 {
        border-left: 0.32rem solid #2B8EAD;
    }

    .color-3 {
        border-left: 0.32rem solid #2F454E;
    }

    .color-4 {
        border-left: 0.32rem solid #2B8EAD;
    }

    .color-5 {
        border-left: 0.32rem solid #2F454E;
    }

    .color-6 {
        border-left: 0.32rem solid #BFBFBF;
    }

    .color-7 {
        border-left: 0.32rem solid #BFBFBF;
    }

    .color-8 {
        border-left: 0.32rem solid #6F98A8;
    }

    .color-9 {
        border-left: 0.32rem solid #2F454E;
    }

    .cust-button {
        padding: 0.63rem 0.93rem;
        margin: 0.75rem 0.63rem;
        font-size: 0.87rem;
    }

    .btn-handler-body {
        flex-direction: row;
        justify-content: center;
    }
}